**/*.d
**/*.slo
**/*.lo
**/*.o
**/*.obj
**/*.pdb
**/*.pd
**/*.idb
**/*.gch
**/*.pch
**/*.so
**/*.dylib
**/*.dll
**/*.mod
**/*.smod
**/*.lai
**/*.la
**/*.a
**/*.lib
**/*.exe
**/*.out
**/*.app
**/*.foz
**/*.ifc
**/*.spv
**/*.json
**/*.tlog
**/*.log


.idea
x64
**/x64

vulkaninfo.txt
!**/lib
!**/vulkan-1.lib
!**/steam_api64.lib
!**/steam_api64.dll