**/*.d
**/*.slo
**/*.lo
**/*.o
**/*.obj
**/*.pdb
**/*.gch
**/*.pch
**/*.so
**/*.dylib
**/*.dll
**/*.mod
**/*.smod
**/*.lai
**/*.la
**/*.a
**/*.lib
**/*.exe
**/*.out
**/*.app
**/*.foz
**/*.spv

!**/vulkan-1.lib
!**/steam_api64.lib
!**/steam_api64.dll